.autocomplete {
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.45);
  z-index: 9999;
  border-top: 0;
  opacity: 1;
  max-width: 900px;

  .autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .autocomplete-list-item {
    padding: 15px 20px;
    cursor: pointer;
    color: #fff;
    background: #2b2e3a;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    width: 100%;

    .matched {
      font-weight: 700;
    }
  }

  .autocomplete-list-item-info--active {
    background-color:  #414655;
    color: #fff;
    .autocomplete-list-item-info__country {
      color: #ffcaca;
    }
  }

  .autocomplete-list-item-info__country {
    color: #aaa;
  }


  .autocomplete-list-item-theme-green{
    background: #fff;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }
  .autocomplete-list-item-info--active-theme--green {
    border: 1px solid #acd835;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-theme-blue{
    background: #fff;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-info--active-theme--blue {
    background: #d9ebfa;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-theme-yellow{
    background: #fff;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-info--active-theme--yellow {
    background: #fcf7d1;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-theme-pink{
    background: #fff;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-info--active-theme--pink {
    background: #e9e9e9;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-theme-transparent{
    background: #fff;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-info--active-theme--transparent {
    background: #e9e9e9;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-theme-transparent-dark{
    background: #fff;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-info--active-theme--transparent-dark {
    background: #e9e9e9;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-theme-bright{
    background: #fff;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

  .autocomplete-list-item-info--active-theme--bright {
    background: #d8f1f3;
    color: #000;
    .autocomplete-list-item-info__country {
  	  color: #788492;
    }
  }

}
